$purple: hsl(263, 55%, 52%);
$grey: hsl(217, 19%, 35%);
$white: hsl(0, 0%, 100%);
$white-opacity: hsla(0, 0%, 100%, 0.5);

$black: hsl(219, 29%, 14%);

$light-gray: hsl(0, 0%, 81%);
$light-gray-opacity: hsla(0, 0%, 81%, .75);
$light-grayish-blue: hsl(210, 46%, 95%);

$very-dark-greyish-blue: hsl(217, 19%, 35%);
$very-dark-greyish-blue-opacity: hsla(217, 19%, 35%, .5);