@use 'abstracts/variables' as *;
@use 'abstracts/mixins' as *;

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

img {
  border-radius: 50%;
  height: 1.75rem;
  max-width: 100%;
  width: 1.75rem;
}

body {
  background-color: $light-grayish-blue;
  font-family: 'Barlow Semi Condensed', sans-serif;
  padding: 4.43rem 1.5rem;
}

.card {
  border-radius: .5rem;
  color: $white;
  font-size: .8125rem;
  padding: 1.625rem 2rem 2rem;

  h2 {
    font-size: 1.25rem;
    font-weight: 600;
    margin-bottom: 1rem;
  }

  p {
    color: $light-gray;
  }

  &--black {
    background-color: $black;
    grid-column: 1 / 1;
    grid-row: 5 / 7;

    @include respond(m) {
      grid-column: 2 / 4;
      grid-row: 2 / 3;
    }
  }

  &--grey {
    background-color: $grey;
    grid-column: 1 / 1;
    grid-row: 3 / 4;

    @include respond(m) {
      grid-column: 3 / 4;
      grid-row: 1 / 2;
    }
  }

  &--purple {
    background-color: $purple;
    grid-column: 1 / 1;
    grid-row: 1 / 3;
    position: relative;
    z-index: 2;

    @include respond(m) {
      grid-column: 1 / 3;
      grid-row: 1 / 2;
    }

    &::before {
      content: "";
      background-size: 104px 102px;
      background: url("../images/bg-pattern-quotation.svg") no-repeat;
      height: 100px;
      position: absolute;
      top: 0;
      right: 1.5rem;
      width: 100px;
      z-index: -1;

      @include respond(m) {
        top: 0;
        right: 82px;
      }
    }
  }

  &--white {
    background-color: $white;
    box-shadow: 9px 5px 20px 6px hsl(0deg 0% 0% / 18%);

    h2 {
      color: $very-dark-greyish-blue;
    }

    p {
      color: $very-dark-greyish-blue;
    }
  }

  &--white#{&}--small {
    grid-column: 1 / 1;
    grid-row: 4 / 5;

    @include respond(m) {
      grid-row: 2 / 3;
      grid-column: 1 / 2;
    }
  }

  &--white#{&}--big {
    grid-column: 1 / 1;
    grid-row: 7 / 9;

    @include respond(m) {
      grid-row: 1 / 3;
      grid-column: 4 / 5;
    }
  }
}

.container {
  display: grid;
  grid-template-columns: 1fr;
  grid-row-gap: 1.5rem;
  margin: 4.4375rem auto 0;

  @include respond(m) {
    grid-template-rows: repeat(2, 17.125rem);
    grid-template-columns: repeat(4, 16rem);
    grid-column-gap: 1.875rem;
    grid-row-gap: 1.5rem;
    margin: 10.25rem auto 0;
    max-width: 69.375rem;
  }
}


.author {
  display: flex;
  margin-bottom: 1.125rem;
  color: $white;

  p {
    color: $white;
    padding-left: 1rem;
  }

  p span {
    color: $white-opacity ;
    display: block;
  }

  &__image {
    border: #A775F1 2px solid;
  }

  &--white {
    p {
      color: $very-dark-greyish-blue;
    }

    p span {
      color: $very-dark-greyish-blue-opacity;
    }
  }
}

.footer {
  .attribution {
    padding-top: 1rem;
    font-size: .68rem;
    text-align: center;

    a {
      color: hsl(228, 45%, 44%);
    }
  }
}